<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
 	http://cxf.apache.org/jaxrs
 	http://cxf.apache.org/schemas/jaxrs.xsd
 	http://cxf.apache.org/jaxws
 	http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml"/>
	<import resource="classpath:META-INF/cxf/cxf-*.xml"/>

	<jaxrs:server id="restWebServices" address="/1.0/api">
		<jaxrs:providers>
			<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider" />
			<bean class="com.rakuten.ecommerce.web.filters.RequestTrackingFilter" />
			<bean class="com.rakuten.ecommerce.web.util.ErrorResponseHandler" />
		</jaxrs:providers>
		<jaxrs:serviceBeans>
		    <bean id="product" class="com.rakuten.ecommerce.web.resources.ProductResource"/>
		    <bean id="products" class="com.rakuten.ecommerce.web.resources.ProductsResource"/>
		    <bean id="category" class="com.rakuten.ecommerce.web.resources.CategoryResource" />
		    <bean id="categories" class="com.rakuten.ecommerce.web.resources.CategoriesResource" />
		</jaxrs:serviceBeans>
	</jaxrs:server>

</beans>