<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
 	http://cxf.apache.org/jaxrs
 	http://cxf.apache.org/schemas/jaxrs.xsd
 	http://cxf.apache.org/jaxws
 	http://cxf.apache.org/schemas/jaxws.xsd">
 	
	<!-- Swagger API listing resource -->
	<bean id="swaggerResourceJSON" class="com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON" />

	<!-- Swagger Message Body writers -->
	<bean id="resourceWriter" class="com.wordnik.swagger.jaxrs.listing.ResourceListingProvider" />
	<bean id="apiWriter" class="com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider" />

	<!-- Configure Server URL for Swagger -->
	<jaxrs:server address="/sw" id="swagger">
		<jaxrs:serviceBeans>
			<ref bean="swaggerResourceJSON" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="resourceWriter" />
			<ref bean="apiWriter" />
			<ref bean="dispatchProvider"/>
		</jaxrs:providers>
	</jaxrs:server>

	<bean id="dispatchProvider" class="org.apache.cxf.jaxrs.provider.RequestDispatcherProvider">
	      <property name="resourcePath" value="/docs/index.html"/>
	</bean>

	<bean id="beanConfig" class="com.wordnik.swagger.jaxrs.config.BeanConfig">
		<property name="resourcePackage" value="com.rakuten.ecommerce.web.resources" />
		<property name="version" value="1.0" />
		<property name="basePath" value="${swagger.basepath}" />
		<property name="title" value="${swagger.title}" />
		<property name="description" value="${swagger.description}" />
		<property name="contact" value="${swagger.contact}" />
		<property name="scan" value="true" />
	</bean>
	
	</beans>